.box {
  background-position: center;
  background-size: cover;
  position: relative;
}

.form-box {
  width: 380px;
  height: 510px;
  border-radius: 20px;
  position: relative;
  padding: 5px;
  margin: 6% auto 0px;
  margin-top: 30px;
  overflow: hidden;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  box-shadow: 0 0 10px 1px #4f523d;
  border-radius: 30px;
}

.toggle-btn {
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: rgb(114, 114, 200);
  border-radius: 30px;
  transition: -5s;
}

.input-group {
  top: 65px;
  position: absolute;
  width: 280px;
  transition: -5s;
}

.input-field1 {
  color: white;
  width: 100%;
  height: 16px;
  padding: 10px 8px;
  margin: 1px 0;
  margin-left: 45px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 10px;
  resize: none;
}

.example {
  margin-left: 80px;
}

.submit-button {
  display: flex;
  justify-content: space-around;
  margin-left: 90px;
  padding-left: 20px;
}

.submit1 {
  width: 90%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  color: white;
  background: black;
  border: 2px solid white;
  outline: none;
  border-radius: 30px;
}

#reset {
  margin-right: 20px;
}

.submit1:hover {
  background: white;
  color: black;
}

#login {
  left: 5px;
}

#signin {
  left: 5px;
}
